---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Cyril Baah" description="About Cyril Baah - Software Engineer & DevOps Enthusiast">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/CyrilBaah.png"
					alt="Cyril Baah at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I work in IT with a strong focus on DevOps, automation, and cloud infrastructure. I enjoy solving real problems with practical solutions, whether that means setting up efficient workflows, optimizing infrastructure, making systems more reliable, or
						bringing value to the clients and teams I work with. I enjoy building systems that are stable, scalable and useful to the people who use them.
						I stay curious and constantly look for ways to learn and grow. I enjoy a good challenge and opportunities to expand my skill set.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						I studied Information Technology, gaining a deep foundation in computing systems, network architecture, and software development. Over time, I’ve expanded my expertise through certifications, online bootcamps, and hands-on work.
					</p>
					<p>
						Some of the learning platforms I’ve used include <a href="https://www.udemy.com/" target="_blank">Udemy</a>, <a href="kodekloud.com/" target="_blank">kodekloud</a>, <a href="https://www.coursera.org/" target="_blank">Coursera</a>, and open-source projects on <a href="https://github.com/CyrilBaah" target="_blank">GitHub</a>.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul style="list-style: none; padding: 0; display: flex; flex-wrap: wrap; gap: 0.75rem;">
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Docker</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Kubernetes</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Helm</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Terraform</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">GitHub Actions</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Jenkins</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">AWS</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">GCP</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Azure</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Linux</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">CI/CD</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Prometheus</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Grafana</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Python</li>
						<li style="background: var(--gray-900); padding: 0.5rem 1rem; border-radius: 1rem;">Go</li>

					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
